*{
   padding: 0px;
   margin: 0px;

}

.Header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #f9f9f9f9;

}

.header-image{
    height: 40px;
    object-fit: contain;
    
    

}

.header_icon{
    padding: 20px;

}

